# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase-debug.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
.env
.env.dev
.env.test
.env.main
coverage
coverage.json
typechain
.firebase


# hardhat files
cache

src/artifacts/@openzeppelin/
src/artifacts/build-info/
src/artifacts/hardhat/


# only need the abi from ChessWager.json, not the binaries
artifacts/*
!artifacts/**/
artifacts/contracts/*
!artifacts/contracts/**/
artifacts/contracts/ChessWager.sol/*
!artifacts/contracts/ChessWager.sol/**/
artifacts/contracts/ChessWager.sol/*
ChessWager.dbg.json
!artifacts/contracts/ChessWager.sol/ChessWager.json

# firebase admin credentials
chess-wager-*-firebase-adminsdk-*.json

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz
