rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function canCreate() {
    	let isSignedIn = request.auth.uid != null;
      let isBanned = exists(/databases/$(database)/documents/banned/$(request.auth.uid));
      return isSignedIn && !isBanned;
    }

    match /messages/{docId} {
    	allow read: if true;
      allow create: if canCreate() && request.auth.uid == request.resource.data.uid;
      allow update: if canCreate() && request.auth.uid == request.resource.data.uid;
    }
  
    match /lobby/{docId} {
      allow read: if true;
      function areCreateRequestKeysValid() {
        let data = request.resource.data;
        return
          data.keys().hasAll(["amount", "betSide", "createdAt", "gameId", "multiplier", "status", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) && 
          data.keys().hasOnly(["amount", "betSide", "createdAt", "gameId", "multiplier", "status", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]);
      }

      function isCreateRequestDataValid() {
        let requestData = request.resource.data;
        return 
          requestData.amount is number && 
          requestData.amount > 0 &&
          requestData.betSide is string &&
          (requestData.betSide == "white" || requestData.betSide == "black") &&
          requestData.createdAt is timestamp &&
          requestData.gameId is string &&
          requestData.gameId != "" &&
          requestData.multiplier is number &&
          requestData.status == "ready" && 
          requestData.user1Id is string &&
          requestData.user1Metamask is string &&
          requestData.user1PhotoURL is string &&
          requestData.user1DisplayName is string &&
          requestData.user1FollowThrough is list &&
          requestData.contractAddress is string;
      }

      function isCreateFromUser1() {
        return 
          request.resource.data.user1Id == request.auth.uid && 
          request.auth.token.name == request.resource.data.user1DisplayName;
      }

      function doesCreateRequestDataMatchUser1Profile() {
        let requestData = request.resource.data;
        let userData = get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
        return 
          userData.walletAddress == requestData.user1Metamask &&
          userData.photoURL == requestData.user1PhotoURL &&
          userData.betAcceptedCount == requestData.user1FollowThrough[0] && 
          userData.betFundedCount == requestData.user1FollowThrough[1];
      }

      function isCreateTimeStampValid() {
        return request.resource.data.createdAt == request.time;
      }
      
      allow create: if canCreate() && 
        areCreateRequestKeysValid() &&
        isCreateRequestDataValid() &&
        isCreateFromUser1() &&
        doesCreateRequestDataMatchUser1Profile() &&
        isCreateTimeStampValid();

      function isUser2DataValid() {
        let userData = get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
        let requestData = request.resource.data;
        return
          userData.walletAddress == requestData.user2Metamask &&
          userData.photoURL == requestData.user2PhotoURL &&
          userData.betAcceptedCount == requestData.user2FollowThrough[0] &&
          userData.betFundedCount == requestData.user2FollowThrough[1];
      }
      // 4 Possibilities:
      allow update: if canCreate() && 
        // 1. User2 joins bet || Join Button *don't place this comment on the line below, it causes a compline error*
      (
        (
          !(request.resource.data.diff(resource.data).affectedKeys().hasAny(["amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"])) &&
          request.resource.data.keys().hasOnly(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) &&
          request.resource.data.keys().hasAll(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) && 
          request.resource.data.status is string &&       
          request.resource.data.status == "pending" &&
          resource.data.status == "ready" &&
          request.resource.data.user2Id is string &&
          request.resource.data.user2Metamask is string &&
          request.resource.data.user2PhotoURL is string &&
          request.resource.data.user2FollowThrough is list &&
          request.resource.data.user2DisplayName is string &&

          !(get(/databases/$(database)/documents/users/$(resource.data.user1Id)).data.blocked.hasAny([request.auth.uid])) &&
          isUser2DataValid() &&
          request.auth.token.name == request.resource.data.user2DisplayName && 
          request.resource.data.user2Id == request.auth.uid
        ) ||        
        // 2. User2 leaves the bet || leave Button
        (       
          !(request.resource.data.diff(resource.data).affectedKeys().hasAny(["amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"])) &&
          request.resource.data.keys().hasOnly(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) &&
          request.resource.data.keys().hasAll(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) &&

          request.resource.data.status is string &&
          request.resource.data.status == "ready" &&
          resource.data.status == "pending" &&
          request.resource.data.user2Id is string &&
          request.resource.data.user2Metamask is string &&
          request.resource.data.user2PhotoURL is string &&
          request.resource.data.user2FollowThrough is list &&
          request.resource.data.user2DisplayName is string &&

          // get(/databases/$(database)/documents/users/$(request.auth.uid)).data.walletAddress == resource.data.user2Metamask &&
          request.auth.token.name == resource.data.user2DisplayName && 
          resource.data.user2Id == request.auth.uid
        ) ||
        // 3. User1 kicks user2 from the bet || Kick Button
        (
          !(request.resource.data.diff(resource.data).affectedKeys().hasAny(["amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"])) &&
          request.resource.data.keys().hasOnly(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) &&
          request.resource.data.keys().hasAll(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"]) &&

          request.resource.data.status is string &&
          request.resource.data.user2Id is string &&
          request.resource.data.user2Metamask is string &&
          request.resource.data.user2PhotoURL is string &&
          request.resource.data.user2FollowThrough is list &&
          request.resource.data.user2DisplayName is string &&

          request.resource.data.user2Id == "" &&
          request.resource.data.user2Metamask == "" &&
          request.resource.data.user2PhotoURL == "" &&
          request.resource.data.user2FollowThrough == [0, 0] &&
          request.resource.data.user2DisplayName == "" &&
          request.resource.data.status == "ready" &&
          resource.data.status == "pending" &&

          // get(/databases/$(database)/documents/users/$(request.auth.uid)).data.walletAddress == resource.data.user1Metamask &&
          request.auth.token.name == resource.data.user1DisplayName &&
          resource.data.user1Id == request.auth.uid
        ) ||
        // 4. User1 approves user2 || Approve Button
        (
          !(request.resource.data.diff(resource.data).affectedKeys().hasAny(["user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress"])) &&
          request.resource.data.keys().hasOnly(["status", "user2Id", "user2Metamask", "user2PhotoURL", "user2FollowThrough", "user2DisplayName", "amount", "betSide", "createdAt", "gameId", "multiplier", "user1Id", "user1Metamask", "user1PhotoURL", "user1DisplayName", "user1FollowThrough", "contractAddress", "timestamp"]) &&

          request.resource.data.status is string &&
          request.resource.data.status == "approved" &&
          resource.data.status == "pending" &&
          request.resource.data.timestamp is timestamp &&
        
          // get(/databases/$(database)/documents/users/$(request.auth.uid)).data.walletAddress == resource.data.user1Metamask &&
          request.auth.token.name == resource.data.user1DisplayName &&
          resource.data.user1Id == request.auth.uid
        )
      );

      allow delete: if canCreate() && 
          // get(/databases/$(database)/documents/users/$(request.auth.uid)).data.walletAddress == resource.data.user1Metamask &&
          request.auth.token.name == resource.data.user1DisplayName &&
          request.auth.uid == resource.data.user1Id &&
          (resource.data.status == "ready" || resource.data.status == "pending");
    }
    
    match /users/{docId} {
    	allow read: if true;
      allow create: if canCreate() &&
        docId == request.auth.uid &&
        request.resource.data.keys().hasAll(["betAcceptedCount", "betFundedCount", "blocked", "walletAddress", "photoURL"]) &&
        request.resource.data.keys().hasOnly(["betAcceptedCount", "betFundedCount", "blocked", "walletAddress", "photoURL"]) &&

        request.resource.data.betAcceptedCount is number &&
        request.resource.data.betFundedCount is number  &&
        request.resource.data.blocked is list &&
        request.resource.data.walletAddress is string &&
        request.resource.data.photoURL is string &&

        request.resource.data.betAcceptedCount == 0 &&
        request.resource.data.betFundedCount == 0 &&
        request.resource.data.blocked == [] &&
        request.resource.data.photoURL != "";

      allow update: if docId == request.auth.uid && 
        !(request.resource.data.diff(resource.data).affectedKeys().hasAny(["blocked", "photoURL", "walletAddress"])) &&
        request.resource.data.keys().hasAll(["betAcceptedCount", "betFundedCount", "blocked", "walletAddress", "photoURL"]) &&
        request.resource.data.keys().hasOnly(["betAcceptedCount", "betFundedCount", "blocked", "walletAddress", "photoURL"]) &&
        request.resource.data.blocked is list &&
        request.resource.data.photoURL is string &&
        request.resource.data.walletAddress is string;
    }
  }
}