@import "index.scss";

.global-chat {
  text-align: center;
  display: flex;
  flex-direction: column;
}

$form-height: 4em;
$chat-header-height: 2.75em;
$main-header-height: 3em;

.global-chat header {
  height: $chat-header-height;
}

.global-chat main {
  $padding: 1rem;
  padding: $padding;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  height: calc(100vh - $main-header-height - $chat-header-height);
}

.global-chat main::-webkit-scrollbar {
  width: 0.25rem;
}

.global-chat main::-webkit-scrollbar-track {
  background: #1e1e24;
}

.global-chat main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.fieldset {
  @apply justify-center flex;
}

.form {
  // height: $form-height;
  width: 93%;
  font-size: 1.5rem;
  @apply rounded-sm justify-center;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  white-space: break-spaces;
  @apply bg-primary rounded-md break-words inline-block;
}

// ul,
// li {
//   text-align: left;
//   list-style: none;
// }

.message-text {
  @apply text-center relative;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  @apply bg-secondary dark:bg-secondary-secondaryDark p-2 m-2 rounded-md color-shift justify-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
