@import "index.scss";

$form-height: 5em;
$chat-header-height: 3em;
$main-header-height: 3em;

.global-chat-header {
  height: $chat-header-height;
}

.global-chat-main {
  $padding: 0rem;
  padding: $padding;
  height: calc(100vh - $main-header-height - $chat-header-height);
}
