@import "index.scss";

.global-chat {
  @apply text-center flex flex-col;
}

$form-height: 5em;
$chat-header-height: 2.75em;
$main-header-height: 3em;

.global-chat header {
  height: $chat-header-height;
}

.global-chat main {
  $padding: 1rem;
  padding: $padding;
  height: calc(100vh - $main-header-height - $chat-header-height);
  @apply overflow-y-scroll flex flex-col-reverse bottom-0;
}
.global-chat main::-webkit-scrollbar {
  @apply w-1;
}
.global-chat main::-webkit-scrollbar-track {
  @apply bg-secondary;
}
.global-chat main::-webkit-scrollbar-thumb {
  @apply bg-tertiary;
}

.fieldset {
  @apply justify-center flex;
}

.form {
  @apply rounded-sm justify-center w-full pb-1;
}

.input {
  @apply bg-primary rounded-md break-words inline-block resize-none outline-none text-lg w-full p-2;
}
.input::-webkit-scrollbar {
  @apply w-1;
}
.input::-webkit-scrollbar-track {
  @apply bg-primary dark:bg-primary-dark;
}
.input::-webkit-scrollbar-thumb {
  @apply bg-tertiary dark:bg-tertiary-dark;
}

.message-text {
  @apply text-center relative text-lg;
}

.message {
  @apply flex items-center;
}

.sent {
  @apply flex-row-reverse;
}

.sent p {
  @apply bg-secondary dark:bg-secondary-dark p-2 m-2 rounded-md color-shift justify-end;
}
.received p {
  @apply bg-secondary dark:bg-secondary-dark p-2 m-2 rounded-md color-shift justify-start;
}
