@import "index.scss";

$form-height: 5em;
$chat-header-height: 4em;
$main-header-height: 3em;

$primary: #A8A29E;
$secondary: #44403C;

.global-chat {
  @apply text-center flex flex-col;
}
.global-chat header {
  height: $chat-header-height;
}

.global-chat main {
  $padding: 0rem;
  padding: $padding;
  height: calc(100vh - $main-header-height - $chat-header-height);
  @apply flex flex-col-reverse;
}

.chat-window {
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary;
}

.chat-window::-webkit-scrollbar {
  @apply w-2;
}
.chat-window::-webkit-scrollbar-track {
  @apply bg-primary dark:bg-primary-dark;
}
.chat-window::-webkit-scrollbar-thumb {
  @apply bg-secondary-dark rounded-full;
}

.input {
  @apply break-words inline-block resize-none outline-none text-lg w-full p-2;
}
.input::-webkit-scrollbar {
  @apply w-2;
}
.input::-webkit-scrollbar-track {
  @apply bg-primary dark:bg-primary-dark border-2;
}
.input::-webkit-scrollbar-thumb {
  @apply bg-secondary-dark rounded-full;
}

.message {
  @apply flex items-center;
}

.sent {
  @apply  p-2 my-2 rounded-md color-shift;
}
.sent p {
  @apply justify-end text-right;
}
.received p {
  @apply justify-start text-left;
}
