@import "index.scss";

:root {
  --speed: 500ms;
}

.dropdown {
  transition: height var(--speed) ease;
  @apply absolute w-64 -translate-x-1/2 bg-secondary border-2 border-secondary-dark p-4 overflow-hidden right-2 top-10 z-50 rounded-md text-primary align-middle justify-center flex;
}

.menu {
  @apply w-56 justify-center;
}

.menu-item {
  @apply h-14 flex items-center rounded-md hover:bg-secondary-dark p-1 m-0.5 w-52;
}
.icon-left {
  @apply mr-auto;
}
.icon-right {
  @apply ml-auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.toggle.react-toggle--checked .react-toggle-track {
  @apply bg-gradient-to-r from-tertiary to-tertiary-dark;
}

.toggle.react-toggle .react-toggle-track {
  @apply bg-gradient-to-r from-tertiary to-tertiary-dark;
}

.toggle.react-toggle--checked .react-toggle-thumb {
  @apply bg-primary-dark pointer-events-none border-none;
}

.filter-toggle.react-toggle--checked .react-toggle-track {
  @apply bg-gradient-to-r from-tertiary to-tertiary-dark;
}

.filter-toggle.react-toggle .react-toggle-track {
  @apply bg-gradient-to-r bg-primary-dark to-secondary-dark;
}

.filter-toggle.react-toggle--checked .react-toggle-thumb {
  @apply bg-primary-dark pointer-events-none border-none;
}
