@import "index.scss";

$primary: #a8a29e;
$secondary: #78716c;

:root {
  --speed: 500ms;
}

.dropdown {
  transition: height var(--speed) ease;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-toggle {
  @apply bg-gradient-to-r from-stone-400 to-stone-900;
}

.toggle.react-toggle--checked .react-toggle-track {
  @extend .menu-toggle;
}

.toggle.react-toggle .react-toggle-track {
  @extend .menu-toggle;
}

.toggle.react-toggle--checked .react-toggle-thumb {
  @apply bg-stone-800 pointer-events-none border-stone-700;
}

.filter-toggle.react-toggle--checked .react-toggle-track {
  @extend .menu-toggle;
}

.filter-toggle.react-toggle .react-toggle-track {
  @apply bg-gradient-to-r bg-stone-800 to-stone-300;
}

.filter-toggle.react-toggle--checked .react-toggle-thumb {
  @apply bg-stone-800 pointer-events-none border-stone-700;
}

.search-users {
  scrollbar-width: thin;
  scrollbar-color: $secondary $primary;
}

.search-users::-webkit-scrollbar {
  @apply w-2;
}
.search-users::-webkit-scrollbar-track {
  @apply bg-stone-100 dark:bg-stone-700;
}
.search-users::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-800 rounded-full;
}

.input::-webkit-scrollbar {
  @apply w-2;
}
.input::-webkit-scrollbar-track {
  @apply bg-stone-100 dark:bg-stone-700;
}
.input::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-800 rounded-full;
}