#main-footer {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
}

#main-footer > a {
  display: grid;
  justify-items: center;
}

#main-footer > a > div {
  vertical-align: middle;
}
