$primary: #a8a29e;
$secondary: #78716c;

.funded-bets {
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary;
}

.funded-bets::-webkit-scrollbar {
  @apply w-2 m-0.5;
}
.funded-bets::-webkit-scrollbar-track {
  @apply bg-stone-200 dark:bg-stone-500;
}
.funded-bets::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-800 rounded-full;
}
