/* #auth-buttons {
  display: flex;
  float: right;
  margin: 0.5rem;
}

#auth-buttons > * {
  margin-right: 0.5rem;
} */

.header-button {
  @apply bg-secondary-DEFAULT-600 
  hover:bg-secondary-DEFAULT-200
  hover:text-positive-DEFAULT-400;
}
