/* #auth-buttons {
  display: flex;
  float: right;
  margin: 0.5rem;
}

#auth-buttons > * {
  margin-right: 0.5rem;
} */

.header-button {
  @apply bg-secondary 
  dark:bg-secondary-secondaryDark
  hover:bg-tertiary 
  dark:hover:bg-tertiary-tertiaryDark;
}
