/* #auth-buttons {
  display: flex;
  float: right;
  margin: 0.5rem;
}

#auth-buttons > * {
  margin-right: 0.5rem;
} */

.header-button {
  @apply bg-gray-600 
  hover:bg-gray-200 
  text-black 
  hover:text-green-800;
}