@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.global-font {
  font-family: "Helvetica Neue", sans-serif;
}

#page {
  $gap-size: 0rem;
  $header-size: 3em;
  gap: $gap-size;
  grid-template-areas:
    "header  header"
    "game  chat";
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  grid-template-rows: $header-size calc(100vh - $header-size - $gap-size);
}

#page > header {
  grid-area: header;
}

#page > main {
  grid-area: game;
}

#page > aside {
  grid-area: chat;
}

.color-shift {
  @apply transition-colors ease-in-out duration-700;
}
