@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #a8a29e;
$secondary: #78716c;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.global-font {
  font-family: "Helvetica Neue", sans-serif;
}

#page {
  $gap-size: 0rem;
  $header-size: 3em;
  gap: $gap-size;
  grid-template-areas:
    "header  header"
    "game  chat";
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  grid-template-rows: $header-size calc(100vh - $header-size - $gap-size);
}

#page > header {
  grid-area: header;
}

#page > main {
  grid-area: game;
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary;
}

#page > aside {
  grid-area: chat;
}

#page > main::-webkit-scrollbar {
  @apply w-2 h-2;
}
#page > main::-webkit-scrollbar-track {
  @apply bg-stone-200 dark:bg-stone-500;
}
#page > main::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-800 rounded-full;
}

.color-shift {
  @apply transition-colors ease-in-out duration-700;
}
