@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#page {
  $gap-size: 0rem;
  $header-size: 3em;
  gap: $gap-size;
  grid-template-areas:
    "head  head"
    "game  chat";
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  grid-template-rows: $header-size calc(100vh - $header-size - $gap-size);

  @apply grid  bg-primary  dark:bg-primary-dark;
}

#page > header {
  grid-area: head;
}

#page > main {
  grid-area: game;
  @apply overflow-y-auto;
}

#page > aside {
  grid-area: chat;
}

#page > main::-webkit-scrollbar-track {
  @apply bg-primary dark:bg-primary-dark;
}
#page > main::-webkit-scrollbar-thumb {
  @apply bg-tertiary dark:bg-tertiary-dark;
}
#page > main::-webkit-scrollbar {
  @apply w-1;
}

.user-img {
  @apply w-8 h-4 rounded-full;
}

.color-shift {
  @apply transition-colors ease-in-out duration-700;
}
