.bet {
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(6, minmax(10em, 1fr));
  // margin-right: 10px;
}

.range {
  min-width: 14em;
}

.lobby {
  // display: grid;
  overflow: hidden;
}

.lobby main {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  /* bottom: 0; */
}


.ready-bet {
  background-color: aquamarine;
}

.pending-bet {
  background-color: yellow;
}

.in-progress-bet {
  // background-color: chartreuse;
}

.bet-button {
  @apply border-2 
  border-primary
  dark:border-primary-dark;
}

