.bet {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, minmax(10em, 1fr));
  margin-right: 10px;
}

.range {
  min-width: 14em;
}

.lobby {
  display: grid;
  overflow-y: hidden;
}

.lobby main {
  display: grid;
  overflow-y: auto;
  /* bottom: 0; */
  max-height: 27vh;
}

.lobby-container {
  /* overflow-y: scroll; */
}

.lobby main::-webkit-scrollbar {
  width: 0.25rem;
}

.lobby main::-webkit-scrollbar-track {
  background: #1e1e24;
}

.lobby main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.ready-bet {
  background-color: aquamarine;
}

.pending-bet {
  background-color: yellow;
}

.in-progress-bet {
  background-color: chartreuse;
}

.bet-button {
  @apply border-2 
  border-primary
  dark:border-primary-primaryDark;
}
