$primary: #a8a29e;
$secondary: #78716c;

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $primary $secondary;
  }
}
.scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-stone-400 dark:bg-stone-500;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar-funded {
    scrollbar-width: thin;
    scrollbar-color: $primary $secondary;
  }
}
.scrollbar-funded::-webkit-scrollbar {
  @apply h-1 w-1;
}
.scrollbar-funded::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scrollbar-funded::-webkit-scrollbar-thumb {
  @apply rounded-full bg-stone-400 dark:bg-stone-500;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar-dropdown {
    scrollbar-width: thin;
    scrollbar-color: $secondary $primary;
  }
}
.scrollbar-dropdown::-webkit-scrollbar {
  @apply w-2;
}
.scrollbar-dropdown::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scrollbar-dropdown::-webkit-scrollbar-thumb {
  @apply rounded-full bg-stone-400 dark:bg-stone-500;
}

.scrollbar::-webkit-scrollbar-corner {
  @apply bg-stone-400 dark:bg-stone-500;
}
